*.db
*.egg-info/
*.pyc
*.sqlite
*.sw?
*~
.*.sw?
.DS_Store
.activate
.coverage
.directory
.env
.idea/*
.ipynb_checkpoints/
.pytest_cache/
.scrapy
.tox
MANIFEST
build/*
data/
dist/*
docs/_build
reg_settings.py
rows.1
